{% extends 'site::base' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<section class="jumbotron bg-primary small">
    <div class="container">
        <form action="{{ url('search') }}" class="search-form">
            <input type="text" name="query" id="query" class="form-control" placeholder="{{ __('search_input_placeholder') }}">
        </form>
    </div>
</section>

<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url() }}">{{ __('collections') }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url("collection/#{category.collection_id}/#{category.collection.slug}") }}">{{ category.collection.name }}</a></li>
            <li class="breadcrumb-item active">{{ category.name }}</li>
        </ol>
    </div>
</nav>

<section class="education">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="about-category">
                            <h2>{{ category.name }}</h2>

                            {% if category.summary %}
                                <p>{{ category.summary }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row d-flex align-items-stretch">
                    <div class="col-md-3 order-md-2">
                        <dl>
                            {% for cat in categories %}
                                {% if category.id == cat.id %}
                                    <dt>{{ cat.name }}</dt>
                                {% else %}
                                    <dt><a href="{{ url("category/#{cat.id}/#{cat.slug}") }}">{{ cat.name }}</a></dt>
                                {% endif %}
                                <dd class="small text-muted">{{ cat.summary }}</dd>
                            {% endfor %}
                        </dl> 
                    </div>
                    <div class="col-md-9 order-md-1">
                        {% if articles.count %}
                            {{ section('articles', { articles: articles }) | raw }}
                        {% else %}
                            <div class="list-group shadow-sm h-100">
                                <div class="list-group-item h-100 d-flex align-items-center justify-content-center">
                                    <p class="no-content text-muted small">{{ __('category_empty') }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ articles.links() | raw }}
    </div>
</section>
{% endblock %}
