{% extends 'site::base' %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
<section class="jumbotron bg-primary small">
    <div class="container">
        <form action="{{ url('search') }}" class="search-form">
            <input type="text" name="query" id="query" class="form-control" placeholder="{{ __('search_input_placeholder') }}">
        </form>
    </div>
</section>

<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url() }}">{{ site.name }}</a></li>
            <li class="breadcrumb-item active">{{ collection.name }}</li>
        </ol>
    </div>
</nav>

<section class="education">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="about-collection">
                            <h2>{{ collection.name }}</h2>

                            {% if collection.summary %}
                                <p>{{ collection.summary }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if articles.count %}
                        {% if categories.count %}
                            <div class="col-md-3 order-md-2">
                                <dl>
                                    {% for category in categories %}
                                        <dt><a href="{{ url("category/#{category.id}/#{category.slug}") }}">{{ category.name }}</a></dt>
                                        <dd class="small text-muted">{{ category.summary }}</dd>
                                    {% endfor %}
                                </dl>
                            </div>
                            <div class="col-md-9 order-md-1">
                                {{ section('articles', { articles: articles }) | raw }}
                            </div>
                        {% else %}
                            <div class="col-md-12">
                                {{ section('articles', { articles: articles }) | raw }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="col-md-12">
                            <div class="list-group shadow-sm h-100">
                                <div class="list-group-item h-100 d-flex align-items-center justify-content-center">
                                    <p class="no-content text-muted small">{{ __('collection_empty') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
