{% extends "site::base.twig" %}

{% block title %}{{ __('home_page_title') }}{% endblock %}

{% block content %}
<section class="jumbotron bg-primary">
    <div class="container">
        <h1>{{ __('how_can_we_help') }}</h1>

        <form action="{{ url('search') }}" class="search-form">
            <input type="text" name="query" id="query" class="form-control" placeholder="{{ __('search_input_placeholder') }}">
        </form>
    </div>
</section>

{% if collections.count() > 0 %}
    <section class="education overheader">
        <div class="container">
            <div class="card">
                <div class="list-group">
                    {% for collection in collections %}
                        <a href="{{ url("collection/#{collection.id}/#{collection.slug}") }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 {% if collection.summary == false %} class="mb-0" {% endif %}>{{ collection.name }}</h4>
                            </div>
                            {% if collection.summary %}
                                <p class="mb-1">{{ collection.summary }}</p>
                            {% endif %}
                            <small>{{ __n('collection_articles_count', collection.articles_count) }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}
