{% extends "site::base.twig" %}

{% block title %}{{ __('search_page_title') }}{% endblock %}

{% block content %}
    <section class="jumbotron bg-primary small">
        <div class="container">
            <form action="{{ url('search') }}" class="search-form">
                <input type="text" name="query" value="{{ query }}" id="query" class="form-control" placeholder="{{ __('search_input_placeholder') }}">
            </form>
        </div>
    </section>

    <section class="education">
        <div class="container">
            <div class="card highlight-context">
                <div class="card-body">
                    {% if query %}
                        <h2>{{ __n('search_results_title_for_query', articles.total(), { query: query|escape }) | raw }}</h2>
                    {% else %}
                        <h2>{{ __n('search_results_title', articles.total()) }}</h2>
                    {% endif %}

                    {{ section('articles', { articles: articles }) | raw }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
<script src="{{ asset('scripts/mark.js') }}"></script>
<script>
    helpcenter.search.highlight()
</script>
{% endblock %}
