<!DOCTYPE html>
<html lang="{{ language.code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - {{ site.name }}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    {% block css %}{% endblock %}

    {{ content_for_head() }}
</head>
<body class="{{ sectionName }}">
    {% if status_type and status_message %}
        <div class="alert alert-{{ status_type }} mb-0 alert-dismissable show text-center" role="alert">
            <div class="container">
                {{ status_message }}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url() }}">{{ site.name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url('contact') }}" class="nav-link"><i class="fe fe-message-square"></i> {{ __('get_in_touch') }}</a>
                    </li>
                    {% if languages|length > 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-globe"></i> {{ language.native }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for lang in languages %}
                                <a class="dropdown-item" href="{{ lang.url }}">{{ lang.native }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    {% if hideGetInTouch == false %}
        {{ section('getintouch') | raw }}
    {% endif %}

    <footer class="footer">
        <div class="container">
            <p class="copyright">© {{ site.name }} {{ year }}. {{ __('powered_by') | raw }}</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ asset('scripts/site.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
