<section class="contact section">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <h2>{{ __('contact_heading') }}</h2>
                <p class="lead">{{ __('contact_paragraph') | raw }}</p>

                <a href="{{ url('contact') }}" class="btn btn-primary">{{ __('contact_us') }}</a>
            </div>
            <div class="col-6">
                <img src="{{ asset('images/undraw_messaging_uok8.svg') }}" width="100%" alt="Woman messaging on mobile phone">
            </div>
        </div>
    </div>
</section>